canvas {
    border: solid 1px #333;
    cursor: pointer;
}

.main {
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.middle {
    width: 230px;
    height: 280px;
    float: left;
    position: relative;
}

.right {
    width: 280px;
    height: 280px;
    float: left;
    border: 1px solid black;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
}

.left {
    float: left;
}

input {
    width: 50%;
    position: absolute;
    left: 25%;
}